html {
	font-family: Arial;
	background: green;
}

* {
	box-sizing: border-box;
}

.cards {
	position:relative;
	width:225px;
}

.card {
	position:absolute;
	width:225px;
}

.player {
	width:100%;
}

.playing-table {
	width:100%;
	border:1px solid blue;
}
